.home-container {
  text-align: center;
  max-height: 100vh;
  background-color: $lightest;
  width: 50%;
  height: 95%;
  margin: 0 auto;
  padding: 25px;
  padding-top: 0px;
  border-radius: 30px;
  h1 {
    margin: 25px;
    margin-top: 75px;
    padding-top: 25px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    .categories {
      display: flex;
      flex-direction: column;
      p{
        margin:0;
      }
    }
    p {
      margin: 20px;
    }
    .region {
      display: flex;
      flex-direction: column;
      p{
        margin:0;
      }
    }
    a {
      text-decoration: none;
      background-color: $light;
      border-radius: 50px;
      color: $dark;
      box-shadow: 5px 5px 0px $darkest;
      div {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    a:active {
      box-shadow: 2px 2px 0px $darkest;
    }
  }
  .home-random {
    button {
      background-color: $darkest;
      border: 1px solid $dark;
    }
  }
}

