.cat-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C5D99;

  h1 {
    margin-top: 20px;
    color: white;
  }

  .cat-detail-grid {
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 1200px;

    .cat-detail-card {
      border: 2px solid white;
      border-radius: 10px;
      width: calc(1200px / 4 - 40px);
      margin: 15px;
      box-shadow: 0 0 15px black;
      background-color: #BBCDE5;
      img {
        margin-bottom: 10px;
        width: 90%;
      }
    }
  }
}

.cat-title {
  padding: 5px 15px 5px 15px;
  background-color: #639FAB;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  text-decoration: underline #639FAB;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}