.home-container {
  text-align: center;
  max-height: 100vh;
  h1 {
    margin: 25px;
  }
  .home-content {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
    a {
      text-decoration: none;
      background-color: #BBCDE5;
      div {
        margin: 0 auto;
      }
    }
  }
}

