.navbar {
  background-color: #1C5D99 !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  .container {
    #basic-navbar-nav {
      a {
        color: #fff;
      }
      a:hover {
        color: #BBCDE5;
      }
      .random {
        color: #1C5D99;
        background-color: #BBCDE5;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
      }
      .random:hover, .random:active {
        color: #1C5D99;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
      }
    }
  }
}